body{
background-image:url('https://upload.wikimedia.org/wikipedia/commons/2/26/NGC_2467_Nebula.jpg');
}
.card-text{
   color:red;
   font-weight:800;
}
.card-title{
   color:amicable;
   font-weight:1000;
}